# Ignore environment variables
.env
*/.env
backend/.env

# Ignore Python virtual environment
.venv/
venv/
env/
ENV/

# Ignore Python cache files
__pycache__/
*.pyc
*/*.pyc
*/*/__pycache__/

# Ignore Cursor IDE settings
.cursor/

# Ignore VSCode settings
.vscode/

# Ignore python-installer.exe
python-installer.exe

# Ignore the test_file.py
test_file.py
**/test_*.py

# Ignore .cursorrules file
.cursorrules

# Ignore to-do list
to_do_list.md

# Ignore the logs folder and any log files
backend/logs/
logs/
*.log


# Frontend specific ignores
frontend/node_modules
frontend/.next
frontend/build
frontend/.env*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/FRONTEND_DOCS.md

# Backend specific ignores
backend/__pycache__/
backend/tests/

# System files
.DS_Store
Thumbs.db


node_modules
